body {
  background-color: #dcdbd9;
  color: #2c2c2c;
  font: normal 100% Cambria, Georgia, serif; }

#wrapper {
  width: 90%;
  margin: 50px auto; }

h1 {
  font-size: 1.5em;
  font-style: italic;
  font-weight: normal; }
  h1 a {
    color: #747474;
    font: bold 0.45833em Calibri, Optima, Arial, sans-serif;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-decoration: none; }
